<html>
<head></head>

<body>
        <div class="col-sm-12 col-md-12 main">
            <h3>Alert for: {{ainfo.name}}</h3>
            <p>
                <strong>Severity:</strong> {{ ainfo.severity }} <br />
                <strong>Alert Name:</strong> {{ainfo.name}}  <br />
                <strong>Description:</strong> {{ainfo.description}} <br />
                <strong>Query:</strong> {{intentions['_query']}} <br />
                {% if ainfo['alert']['type'] in ( 'agg_match' ) %}
                <strong>Trigger Reason:</strong> Because Field: <strong>{{ ainfo['alert']['field'] }}</strong> was <strong>{% filter upper %}{{ainfo['alert']['relation']}}{% endfilter %}</strong> to <strong>{{ainfo['alert']['qty']}}</strong> <br />
                {% else %}
                <strong>Trigger Reason:</strong> Because <strong>{{ ainfo['alert']['type'] }}</strong> was <strong>{% filter upper %}{{ainfo['alert']['relation']}}{% endfilter %}</strong> to <strong>{{ainfo['alert']['qty']}}</strong> <br />
                {% endif %}
                <strong>Times:</strong> <br />
                &nbsp;&nbsp;<b>Start:</b> {{intentions['_start_time_pretty']}} <br />
                &nbsp;&nbsp;<b>End:</b> {{intentions['_end_time_pretty']}} <br />
            </p>
            <p>
                <strong>Results:</strong> <br />
                {% if ainfo['alert']['type'] in ( 'agg_match' ) %}
                <strong>{{ eq.count() }}</strong> results found: <br />
                {% else %}
                {% if ainfo['alert']['return_matches'] %}
                    {% if ainfo['alert']['return_matches']['random'] == True %}
                    <strong>*note</strong> Only showing a <i>random</i> sample of <strong>{{ ainfo['alert']['return_matches']['length'] }}</strong> matches due to alert settings. <br />
                    {% else %}
                    <strong>*note</strong> Only showing a sample of <strong>{{ ainfo['alert']['return_matches']['length'] }}</strong> matches due to alert settings. <br />
                    {% endif %}
                {% endif %}
                <strong>{{ eq.results_total }}</strong> results found: <br />
                {% endif %}
                {{ results_table|safe }}
            <p>
        </div>
</body>
</html>
