env/*
etc/alerts/*.y*ml
etc/tattle/*.y*ml
!etc/tattle/logging.y*ml
!etc/tattle/tattle.y*ml
etc/reports/*.y*ml
etc/tales/*.y*ml
etc/tattle/tales/*.y*ml

*.pyc
*.sw*
var/log/*.log
misc/*
bin/esq_test.py*
bin/search_test.py*
bin/qtest.py*
bin/pandas_test.py*
bin/scripts/*
!bin/scripts/README.md
